@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'S-CoreDream-3Light';
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background-color: rgb(255, 238, 152);
  padding: 5px;
  border-radius: 5px;
  color: tomato;
  left: 10px;
  top: 10px;
  text-transform: capitalize;
  font-weight: 600;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  right: -4px;
  transform: translateX(-50%);
  padding: 3px 5px 2px 5px;
  color: dimgrey;
  font-size: 25px;
  text-transform: capitalize;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background-color: rgb(253, 177, 1);
  color: white;
}

.product-info {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
  font-size: 18px;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
  font-size: 14px;
}

.price {
  font-weight: 900;
  font-size: 18px;
}

.actual-price {
  margin-left: 10px;
  opacity: 0.5;
  text-decoration: line-through;
  font-size: 14px;
}

.pre-btn, .next-btn {
  border: none;
  border-radius: 100%;
  top: 50%;
  font-size: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  cursor: pointer;
  z-index: 9;
}

.pre-btn ion-icon {
  margin-bottom: 5px;
  margin-right: 2.5px;
}

.next-btn ion-icon {
  margin-bottom: 5px;
  margin-left: 2.5px;
}

.pre-btn {
  left: 10px;
  opacity: 0.2;
}

.next-btn {
  right: 10px;
  opacity: 0.2;
}

.pre-btn:hover, .next-btn:hover {
  opacity: 1;
}
