/* grid-template-rows를 적용하는 경우 행이 늘어날 경우 계속해서 css를 고쳐야 한다는 단점이 존재
grid-auto-rows를 사용하면 이러한 단점 극복 가능  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

input {
  appearance: none;
  border: none;
  outline: none;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input[type="button"] {
  cursor: pointer;
}

.calculator {
  width: 310px; /* width는 갭과 각 70+10+70+10+70+10+70 */
}


.calculator form {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-auto-rows: 70px;
  grid-gap: 10px;
}

.calculator input[type="text"] {
  grid-column: span 4;
  grid-row: span 1;
  background-color: black;
  color: white;
  text-align: end;
  vertical-align: bottom;
  font-size: 4rem;
}

.calculator input[type="button"] {
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  background-color: rgb(33, 43, 57);
  font-weight: 700;
}

.calculator input[type="button"]:hover {
  background-color: rgba(192, 211, 237, 0.508);
}



.calculator input[type="button"].option {
  background-color: #809ec9;
  color: black;
}

.calculator input[type="button"].option:hover {
  background-color: #7dabeda4;
  color: black;
}

/* calculator의 0이 위치한 곳 */
.calculator input[type="button"].zero {
  grid-column: span 2;
  border-radius: 50px;
  text-align: start;
  padding: 0 25px;
}

.calculator input[type="button"].calc {
  background-color: rgb(254, 178, 1);
  font-size: 2.2rem;
}

.calculator input[type="button"].calc:hover {
  background-color: rgb(119, 84, 2);
}