@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(247, 202, 135);
}

button {
  /* outline: none; */
  border: none;
  background-color: inherit;
}

h1 {
  color:rgb(88, 82, 63);
}

.gameBox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 200px;
  border-bottom: 2px solid black;
}

.gameBox label {
  position: relative;
  width: 100%;
  height: 33.333%;
  border: 2px solid black;
  border-bottom: none;
}

.gameBox label input[type="checkbox"] {
  display: none;
}

.gameBox label i {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 600px;
}

/* nth-child 형제 요소의 순서에 따라서 정하는 것 */
.gameBox label:nth-child(1) i {
  background-image: url(./gameimg/01.jpg);
  animation: moveImage linear infinite 0.8s;
}

.gameBox label:nth-child(2) i {
  background-image: url(./gameimg/02.jpg);
  animation: moveImage linear infinite 0.4s;
}

.gameBox label:nth-child(3) i {
  background-image: url(./gameimg/03.jpg);
  animation: moveImage linear infinite 1.2s;
}

@keyframes moveImage {
  0% {
    background-position: 0;
  } 100% {
    background-position: 600px;
  }
}

/* 물결 무늬 input:checked 옆의 i태그를 선택하라는 것 모든 태그를 선택 */
/* https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=kkrdiamond77&logNo=221148269517*/
.gameBox input[type="checkbox"]:checked ~ i {
  animation-play-state: paused;
}

.reBtn {
  font-size: 1rem;
  background-color: blanchedalmond;
  padding: 0.5rem 1.3rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(55, 54, 51, 0.276);
  font-weight: 800;
  color: rgba(124, 118, 97, 0.774);
}

.reBtn:hover {
  color: rgb(75, 71, 58);
}