/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

li {
  list-style: none;
}

input {
  display: none;
}

.box {
  width: 500px;
  max-width: 700px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.372);
  border-radius: 15px;
  padding: 20px;
}

label[for="files-upload"] {
  display: block;
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: -1px;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(106, 106, 246);
  background-color: rgb(106, 106, 246);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

label[for="files-upload"]::before { 
  content: '\e09a';
  font-family: fontAwesome;
  margin-right: 1rem;
}

.box .files-num {
  margin: 2rem 0;
  text-align: center;
  font-weight: 600;
}
.box .files-list {
  max-height: 150px;
  overflow-y: auto;
}
.box .files-list li {
  display: flex;
  justify-content: space-between;
  row-gap: 2rem;
  font-weight: 800;
  background-color: #9488e19e;
  margin-bottom: 1rem;
  color: rgb(239, 236, 250);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}