* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

input {
  outline: none;
  appearance: none;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.container #movie-input {
  padding: 0.5rem 1.5rem;
  border: 3px solid black;
}

.movie-list {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 3px solid black;
  max-width: 90%;
  gap: 10px;
}

.movie-list img {
  width: 210px;
  height: 300px;
}