body {
    background-color: tomato;
}

.dark {
    background-color: black;
}

.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: black;
    border-radius: 2.6rem;
}

.slider:before {
    position: absolute;
    /* margin: 4.7px 0px 6px 6px; */
    top: 4.7px;
    bottom: 6px;
    left: 6px;
    height: 22px;
    width: 22px;
    background-color: white;
    content: "";
    border-radius: 2.6rem;
    transition: .4s;
    -webkit-transition: .4s;
}

input:checked+.slider {
    background-color: tomato;
}

input:focus+.slider {
    box-shadow: 0 0 1px tomato;
}

input:checked+.slider:before {
    transform: translateX(25px);
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
}