@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', san-serif;
}

input {
  outline: none;
  border: none;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color:rgb(228, 245, 233);
}

.dropdown {
  position: relative;
  width: 250px;
  cursor: pointer;
}

.dropdown::before {
  content: '';
  position: absolute;
  top: 25px;
  right: 30px;
  width: 2px;
  height: 10px;
  transform: rotate(-50deg);
  background-color: rgb(115, 140, 113);
  z-index: 10;
  transition: 0.8s;
}

.dropdown.activate::before {
  right: 23px;
}

.dropdown::after {
  content: '';
  position: absolute;
  top: 25px;
  right: 23px;
  width: 2px;
  height: 10px;
  transform: rotate(50deg);
  background-color: rgb(115, 140, 113);
  z-index: 10;
  transition: 0.8s;
}

.dropdown.activate::after {
  right: 30px;
}

.dropdown input {
  position: absolute;
  width: 100%;
  border-radius: 18px;
  padding: 20px;
  background-color: rgb(198, 228, 207);
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(118, 151, 109);
}

.dropdown .options {
  position: relative;
  top: 80px;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(194, 212, 195);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  cursor: pointer;
}

.dropdown.activate .options {
  visibility: visible;
  opacity: 1;
}

.dropdown .options div {
  padding: 13px 20px;
  color:rgb(87, 93, 88);
}

.dropdown .options div:hover {
  background-color: rgba(120, 153, 141, 0.503);
  color: rgb(228, 245, 233);
}