body {
	background-color: #C28EDB;
}

.dark {
	background-color: #2A2734;
}

.switch {
  /* 자기 자신을 기준으로 */
  position: relative;
  /* 요소의 크기만큼, 한 줄 */
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  /* 부모 요소(.swith)를 기준으로 */
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9A86FD;
  border-radius: 34px;
  /* 사파리 환경에서 사용하나 권장하지 않음 supoports 방식을 권장 */
  /* @supports (transition: .4s) {
  } */
  -webkit-transition: .4s;
  /* 전환 효과 지속시간 */
  transition: .4s;
}

.slider:before {
  position: absolute;
  /* 선택한 요소의 앞에 텍스트, 이미지 등을 추가, "" 빈 공간*/
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
/* + 앞의 요소 바로 뒤에 있는 요소만 선택 */
input:checked+.slider {
  background-color: #FFB870;
}

input:focus+.slider {
  box-shadow: 0 0 1px #FFB870;
}

input:checked+.slider:before {
  /* X축으로 이동 */
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}